@import '@payloadcms/ui/scss';

.posts-list-filters {
  display: flex;
  gap: base(0.4);
  margin-bottom: base(1);

  &__tab {
    border: 1px solid var(--theme-elevation-150);
    border-radius: 20px;
    color: var(--theme-elevation-800);
    font-size: 13px;
    padding: base(0.2) base(0.6);
    text-decoration: none;
    transition:
      background-color 0.1s,
      color 0.1s;

    &:hover {
      background-color: var(--theme-elevation-100);
    }

    &--active {
      background-color: var(--theme-elevation-800);
      border-color: var(--theme-elevation-800);
      color: var(--theme-elevation-0);

      &:hover {
        background-color: var(--theme-elevation-800);
      }
    }
  }
}
